@model Vidly.ViewModels.RandomMovieViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    var className = Model.Customers.Count > 5 ? "popular" : null;
}

<h2 class = "@className">@Model.Movie.Name</h2>

@if (Model.Customers.Count == 0)
{
    <text>No one has rented this movie before.</text>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <p>@customer.Name</p>
        }
    </ul>
}